/*
 *  Styles for a GFX Challenge-inherited, pulled-in form
 */

 $noto-font-stack: "Noto Sans", sans-serif;
 $fjalla-font-stack: "Fjalla One", sans-serif;
 
 $red: #FB0020;
 
 body {
     padding: 0;
     margin: 0;
 }
 
 #page-wrap {
     display: block;
     padding: 20px 0 30px 0;
     width: calc(100% - 50px);
     margin: 0 auto;
     max-width: 1206px; // figma max width + padding around cols (1186 + 20)
     font-family: $noto-font-stack;
     width: 100%;
 
     h3 {
         display: block;
         font-weight: normal;
         font-size: 34px;
         margin: 0 0 20px 0;
         font-family: $noto-font-stack;
     }
 
     p {
         display: block;
         font-weight: normal;
         font-size: 14px;
         margin: 0 0 0 0;
         font-family: $noto-font-stack;
     }
 
     input {
         font-family: $noto-font-stack;
 
         &.error {
             border-color: red;
         }
     }
 }
 
 .ppat-form {
     width: 100%;
     position: relative;
 
     &.submitting {
         pointer-events: none;
         opacity: 0.2 !important;
     }
 
     &.submitted {
         display: none !important;
     }
 }
 
 form.ppat-form {
     // basic 2 col:
     // display: grid;
     // grid-template-columns: 1fr 1fr;
 
     // basic 2 col with no re-ordering:
     display: block;
 }
 
 .ppat-form-row {
     margin: 0 0 20px 0;
     position: relative;
     width: calc(100% - 20px);
     padding: 0 10px;
     display: flex;
     flex-direction: column;
 
     .ppat-field-feedback-msg {
         position: absolute;
         left: 10px;
         // top: -15px;  // above fields
         bottom: -18px;  // below fields
         font-size: 12px;
         pointer-events: none;        
     }
 
 }
 
 .ppat-form-row-explanation {
     display: flex;
     flex-direction: column;
 
     .ppat-field-feedback-msg { order: 1; }
     label { order: 2; }
     textarea { order: 3 }
 }
 
 
 .ppat-form-row-html_1 a {
     font-weight: bold
 }
 
 .ppat-text,
 .ppat-email {
     display: block;
     width: 100%;
     height: 40px;
     background-color: #fff;
     border: 1px solid #bfbfbf;
     font-size: 14px;
     padding: 10px 20px;
 }
 
 .ppat-select {
     appearance: none;
     background: url('https://fujifilm-x.com/global/special/imaging-solution/assets/images/common/mrk_down.png') no-repeat right 20px top 50% / 10px 7px #fff;
     padding-right: 40px;
     cursor: pointer;
     height: 40px;
     width: 100%;
     background-color: #fff;
     border: 1px solid #bfbfbf;
     font-size: 14px;
     padding: 5px 20px;
 }
 
 select {
     &::-webkit-input-placeholder { /* Edge */
         color: red;
     }
         
     &:-ms-input-placeholder { /* Internet Explorer 10-11 */
         color: red;
     }
         
     &::placeholder {
         color: red;
     }
 }
 
 .ppat-dropzone {
     border: 1px solid #bfbfbf !important;
     font-size: 14px !important;
     width: 100%;
     text-align: center;
 
     h4 {
         display: block !important;
         width: 80% !important;
         text-align: center !important;
         margin: 10px auto 0 auto !important;
         pointer-events: none !important;
         font-size: 14px !important;
         font-weight: bold !important;
     }
 
     p {
         display: block !important;
         width: 80% !important;
         text-align: center !important;
         margin: 10px auto 0 auto !important;
         pointer-events: none !important;
         font-size: 14px !important;
     }
 }
 
 .ppat_el_p {
     display: block !important;
     width: 100% !important;
     text-align: left !important;
     margin: 0 auto 10px auto !important;
     pointer-events: all !important;
     font-size: 14px !important;
 
     a {
         cursor: pointer !important;
         font-weight: bold !important;
     }
 }
 
 .ppat_el_p.ppat_el_footer_p {
     text-align: center !important
 }
 
 .ppat_el_h2 {
     display: block !important;
     width: 100% !important;
     text-align: left !important;
     margin: 0 auto 15px auto !important;
     pointer-events: all !important;
     font-size: 32px !important;
     font-weight: normal;
     text-align: center !important;
     font-family: $noto-font-stack;
 
     a {
         cursor: pointer !important;
         font-weight: bold;
     }
 }
 
 
 .ppat-checkbox {
     display: block;
     width: 20px;
     height: 20px;
     appearance: auto;
     margin: 0 10px 0 0;
     border-radius: 0 !important;
     outline-color: none;
     position: relative;
     cursor: pointer;
 
     &:after {
         content: " ";
         display: block;
         width: 100%;
         height: 100%;
         background: none;
         position: absolute;
         z-index: 10;
         background: #fff;
         color: #000;
         background-repeat: no-repeat;
         background-size: auto 60%;
         background-position: 50% 50%;        
         font-family: $noto-font-stack;
         font-weight: bold;
         top: 0;
         left: 0;
         border: 1px solid #bfbfbf;
     }
 
     &:checked {
         &:after {
             display: block;
             width: 100%;
             height: 100%;
             content: " ";
             background: none;
             position: absolute;
             z-index: 10;
             background: #fff;
             color: #000;
             background-image: url("../../../assets/img/icon-check.svg");
             background-repeat: no-repeat;
             background-size: auto 60%;
             background-position: 50% 50%;
             content: " ";
             font-family: $noto-font-stack;
             font-weight: bold;
             top: 0;
             left: 0;
             border: 1px solid #bfbfbf;
         }
     }
 }
 
 .ppat-form-row-textarea {
     grid-row: span 5;
 }
 .ppat-textarea {
     width: 100%;
     // min-height: 352px;
     min-height: 270px;
 }
 
 .ppat-form-row-submit {
     grid-column: span 2;
 }
 
 .ppat-submit,
 .cta {
     font-family: $fjalla-font-stack !important;
     font-weight: 300;
     border: none;
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 160px;
     width: 100%;
     height: 50px;
     color: #fff;
     border: none;
     padding: 10px;
     font-size: 24px;
     background-color: $red;
     background-image: none;
     margin: 20px auto 0 auto;
     text-align: center;
     text-transform: uppercase;
     cursor: pointer;
 
     &:disabled {
         cursor: not-allowed;
         opacity: 0.5;
     }
 }
 
 .ppat-field-feedback-msg {
     display: block;
     width: 100%;
     position: relative;
     font-size: 12px;
     text-align: left;
     color: red;
 }
 
 [class*='ppat-field-feedback-msg-main'] {
     display: none;
 }
 
 
 
 
 .ppat-form-label {
     display: block;
     padding-right: 5px;
     padding-bottom: 3px;
     font-size: 14px;
 }
 
 .ppat-form-label a {
     font-weight: bold;
     color: black;
     text-decoration: none;
     cursor: pointer;
     &:hover {
         text-decoration: underline;
     }
 }
 
 .ppat-form-row-checkbox {
     grid-column: span 2;
     flex-direction: row;
 
     .ppat-form-label {
         width: 100%;
     }
 
     .ppat-field-feedback-msg {
         // top: -18px;     // above
         bottom: -16px;     // below
     }
 }
 
 #page-wrap {
     .ppat-field-feedback-msg-complete {
         display: none;
         font-size: 18px;
         font-weight: bold;
         padding: 30px 0;
         text-align: center;
         width: 100%;
 
         h3 {
             font-family: $fjalla-font-stack;
             font-size: 50px;
         }
 
         p {
             font-family: $noto-font-stack;
             font-size: 30px;
         }
 
         .cta {
             text-decoration: none;
         }
 
         &.complete {
             display: block;
         }        
     }
 }
 
 .ppat-field-feedback-msg-cf-upload {
     text-align: left;
     font-size: 12px;
     transform: translateY(-1em);
 }
 
 
 
 .ppat_sp {
     margin: 0 0 20px 0 !important;
     font-size: 10px !important;
     line-height: 12px !important;
 }
 
 
 
 /* select show/hide */
 .ppat-form-row-genre_video, 
 .ppat-form-row-genre_still, 
 .ppat-form-row-genre_both {
     display: none !important;
 }
 
 .ppat-form-row-genre_video.show, 
 .ppat-form-row-genre_still.show, 
 .ppat-form-row-genre_both.show {
     display: block !important;
 }
 
 /* other field show/hide */
 [class^="ppat-form-row"][class*="_other"] {
     display: none !important;
 
     width: calc(100% - 40px);
     padding-left: 30px;
     grid-column: 1;
 }
 
 [class^="ppat-form-row"][class*="_other"].show {
     display: block !important;
 }
 
 
 $input-padding: 10px 20px;
 
 
 
 @media all and (max-width: 700px) {
     #page-wrap {
 
         form.ppat-form {
             display: block;
         }
 
         .ppat-form-label {
             width: 100%;
             margin-bottom: 3px;
             padding-right: 0;
         }
     
         .ppat-form-row {
             display: block;
             width: calc(100% - 20px);            
             margin-left: auto;
             margin-right: auto;
             padding: 0;
 
             &.ppat-form-row-checkbox {
                 display: flex;
             }
 
             .ppat-field-feedback-msg {
                 left: 0;
                 text-align: left;
             }
         }
     
         .ppat-field-feedback-msg-cf-upload {
             bottom: 6px;
             text-align: left;
         }
     
         .ppat_sp {
             margin: 0 0 3px 0 !important;
         }
 
         .ppat-textarea {
             min-height: 250px;
         }
     }
 }