/*
 *  Basic build
  *     - no Select2s
  *     - no other fields
  *     - no front end validation
 */
@import url("https://use.typekit.net/gzv6wsm.css");
body {
  padding: 0;
  margin: 0;
}

#page-wrap {
  display: block;
  padding: 30px 40px 30px;
  width: calc(100% - 80px);
  margin: 0 auto;
  max-width: 585px;
  font-family: "noto-sans-extracondensed", sans-serif;
}
#page-wrap h2, #page-wrap .ppat_el_h2 {
  display: block;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  margin: 0 0 20px 0;
  font-family: "Fjalla One", sans-serif;
  text-align: center;
}
#page-wrap h3 {
  display: block;
  font-weight: normal;
  font-size: 34px;
  margin: 0 0 20px 0;
  font-family: "noto-sans-extracondensed", sans-serif;
}
#page-wrap p {
  display: block;
  font-weight: normal;
  font-size: 14px;
  margin: 0 0 0 0;
  font-family: "noto-sans-extracondensed", sans-serif;
}
#page-wrap li:not(.select2-selection__choice) {
  display: block;
  width: calc(100% - 1em);
  position: relative;
  padding: 0 0 0 1em;
  margin: 0 0 1em 0;
}
#page-wrap li:not(.select2-selection__choice):after {
  display: block;
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  background: #000;
  position: absolute;
  left: 0;
  top: 0.6em;
  content: "";
}
#page-wrap input {
  font-family: "noto-sans-extracondensed", sans-serif;
}
#page-wrap input.error {
  border-color: red;
}
#page-wrap input, #page-wrap select, #page-wrap textarea, #page-wrap .select2-container {
  order: 3;
}

.ppat-form.submitting {
  pointer-events: none;
  opacity: 0.2 !important;
}
.ppat-form.submitted {
  display: none !important;
}

form.ppat-form {
  position: relative;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
}

.ppat-form-row {
  margin: 0 0 30px 0;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 19;
  display: flex;
  flex-direction: column;
}
.ppat-form-row .feedback-msg-container {
  background: #F28197;
  background-clip: content-box;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: -21px;
  width: calc(100% - 0px);
}
.ppat-form-row .ppat-field-feedback-msg {
  position: relative;
  order: 2;
}
.ppat-form-row .ppat-field-feedback-msg.ppat-field-error {
  font-size: 12px;
  pointer-events: none;
  color: white;
  margin: 0 5px;
  line-height: 20px;
}
.ppat-form-row.ppat-form-row-name .feedback-msg-container, .ppat-form-row.ppat-form-row-email .feedback-msg-container, .ppat-form-row.ppat-form-row-zip .feedback-msg-container {
  top: -22px;
  z-index: -1;
}
.ppat-form-row.ppat-form-row-name .ppat-form-label, .ppat-form-row.ppat-form-row-email .ppat-form-label, .ppat-form-row.ppat-form-row-zip .ppat-form-label {
  display: none;
}

.ppat-text,
.ppat-email,
.select2-selection {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: 1px solid #767676;
  border-radius: 10px;
  font-size: 14px;
  padding: 9px 19px;
}
.ppat-text::placeholder,
.ppat-email::placeholder,
.select2-selection::placeholder {
  color: #000;
}
.ppat-text:focus,
.ppat-email:focus,
.select2-selection:focus {
  border: 2px solid #78C950;
  padding: 8px 18px;
  outline-width: 0;
}

.ppat-select {
  appearance: none;
  background: url("../../../assets/img/icon-dropdown-arrows.svg") no-repeat right 20px top 50%/10px 7px #fff;
  padding-right: 40px;
  cursor: pointer;
  height: 40px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  font-size: 14px;
  padding: 5px 11px;
}

.ppat-dropzone {
  border: 1px solid #bfbfbf !important;
  font-size: 14px !important;
  width: 100%;
  text-align: center;
}
.ppat-dropzone h4 {
  display: block !important;
  width: 80% !important;
  text-align: center !important;
  margin: 10px auto 0 auto !important;
  pointer-events: none !important;
  font-size: 14px !important;
  font-weight: bold !important;
}
.ppat-dropzone p {
  display: block !important;
  width: 80% !important;
  text-align: center !important;
  margin: 10px auto 0 auto !important;
  pointer-events: none !important;
  font-size: 14px !important;
}

.ppat_el_p {
  display: block !important;
  width: 100% !important;
  text-align: left !important;
  margin: 0 auto 10px auto !important;
  pointer-events: all !important;
  font-size: 14px !important;
}
.ppat_el_p a {
  cursor: pointer !important;
  font-weight: bold !important;
}

.ppat_el_p.ppat_el_footer_p {
  text-align: center !important;
}

.ppat-checkbox, .ppat-radio {
  display: block;
  width: 24px;
  height: 24px;
  appearance: none;
  margin: 0 18px 0 0;
  border-radius: 0 !important;
  outline-color: transparent;
  position: relative;
  cursor: pointer;
  border: 1px solid #767676;
}
.ppat-checkbox:after, .ppat-radio:after {
  content: " ";
  display: none;
  position: relative;
  z-index: 10;
  width: 16px;
  height: 16px;
  background: #78C950;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
.ppat-checkbox:checked:after, .ppat-radio:checked:after {
  display: block;
}

.radio-option-container {
  display: flex;
  flex-direction: row;
  margin-right: 34px;
}
.radio-option-container .ppat-radio {
  border-radius: 100px !important;
  margin-right: 12px;
}
.radio-option-container .ppat-radio::after {
  border-radius: 100px;
}
.radio-option-container .radio-label {
  cursor: pointer;
}

.ppat-submit {
  font-family: "Fjalla One", sans-serif !important;
  font-weight: 300;
  border: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 160px;
  width: 100%;
  color: #fff;
  border: none;
  padding: 8px;
  font-size: 22px;
  background-color: #78C950;
  background-image: none;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.ppat-submit:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.ppat-submit:hover {
  background-color: black;
}

[class*=ppat-field-feedback-msg-main] {
  display: none;
}

.ppat-form-label {
  display: block;
  padding-right: 5px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  order: 1;
  font-family: "Fjalla One", sans-serif;
}

.ppat-form-label a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.ppat-form-label a:hover {
  text-decoration: underline;
}

#page-wrap .ppat-form-row-checkbox {
  display: flex;
  flex-direction: row;
}
#page-wrap .ppat-form-row-checkbox input {
  order: 1;
}
#page-wrap .ppat-form-row-checkbox .ppat-form-label {
  font-family: "noto-sans-extracondensed", sans-serif;
  width: 100%;
  order: 2;
}
#page-wrap .ppat-form-row-checkbox .feedback-msg-container {
  top: -23px;
  bottom: unset;
}

#page-wrap .ppat-field-feedback-msg-complete {
  display: none;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0;
  text-align: center;
  width: 100%;
  margin-top: 405px;
}
#page-wrap .ppat-field-feedback-msg-complete h3 {
  font-family: "Fjalla One", sans-serif;
  font-size: 36px;
  line-height: 46px;
}
#page-wrap .ppat-field-feedback-msg-complete p {
  font-family: "noto-sans-extracondensed", sans-serif;
  font-size: 16px;
  line-height: 22px;
}
#page-wrap .ppat-field-feedback-msg-complete.complete {
  display: block;
}

.ppat-field-feedback-msg-cf-upload {
  text-align: left;
  font-size: 12px;
  transform: translateY(-1em);
}

.ppat_sp {
  margin: 0 0 20px 0 !important;
  font-size: 10px !important;
  line-height: 12px !important;
}

#page-wrap .ppat-form-row-creator_type {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#page-wrap .ppat-form-row-creator_type .ppat-form-label {
  order: 1;
  width: 100%;
}
#page-wrap .ppat-form-row-creator_type .radio-option-container {
  order: 2;
  line-height: 26px;
}
#page-wrap .ppat-form-row-creator_type .radio-option-container input {
  order: 1;
}
#page-wrap .ppat-form-row-creator_type .radio-option-container label {
  order: 2;
}

#page-wrap .ppat_el_h2 {
  margin-bottom: 0;
}

@media all and (max-width: 400px) {
  #page-wrap form.ppat-form {
    display: block;
  }
  #page-wrap input:not(.ppat-radio, .ppat-checkbox) {
    min-height: 47px;
  }
  #page-wrap .ppat-form-label {
    width: 100%;
    margin-bottom: 3px;
    padding-right: 0;
  }
  #page-wrap .ppat-form-row {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 8px;
  }
  #page-wrap .ppat-form-row.ppat-form-row-checkbox {
    display: flex;
  }
  #page-wrap .ppat-form-row.ppat-form-row-checkbox .feedback-msg-container {
    position: absolute;
    top: -22px;
  }
  #page-wrap .ppat-form-row .feedback-msg-container {
    position: relative;
    top: -2px;
  }
  #page-wrap .ppat-form-row .ppat-field-feedback-msg {
    left: 0;
    text-align: left;
  }
  #page-wrap .ppat-form-row.ppat-form-row-zip, #page-wrap .ppat-form-row.ppat-form-row-creator_type, #page-wrap .ppat-form-row.ppat-form-row-awareness_medium, #page-wrap .ppat-form-row.ppat-form-row-camera_brands, #page-wrap .ppat-form-row.ppat-form-row-camera_brands_other, #page-wrap .ppat-form-row.ppat-form-row-like_about_event {
    margin-bottom: 14px;
  }
  #page-wrap .ppat-form-row.ppat-form-row-creator_type {
    display: flex;
  }
  #page-wrap .ppat-form-row.ppat-form-row-camera_brands_other {
    margin-top: -21px;
  }
  #page-wrap .ppat-field-feedback-msg-cf-upload {
    bottom: 6px;
    text-align: left;
  }
  #page-wrap .ppat_sp {
    margin: 0 0 3px 0 !important;
  }
  #page-wrap .ppat-textarea {
    min-height: 250px;
  }
  #page-wrap .radio-option-container {
    margin-bottom: 14px;
  }
}

/*# sourceMappingURL=form.css.map */
