/*
 *  Styles for a GFX Challenge-inherited, pulled-in form with a Select2
 */

$font-stack: "Urbanist", sans-serif;

#page-wrap {
    display: block;
    padding: 20px 0 30px 0;
    width: calc(100% - 50px);
    margin: 0 auto;
    max-width: 1120px;
    font-family: $font-stack;

    h3 {
        display: block;
        font-weight: normal;
        font-size: 34px;
        margin: 0 0 20px 0;
        font-family: $font-stack;
    }

    p {
        display: block;
        font-weight: normal;
        font-size: 15px;
        margin: 0 0 0 0;
        font-family: $font-stack;
    }

    li:not(.select2-selection__choice):not(.select2-search) {
        display: block;
        width: calc(100% - 1em);
        position: relative;
        padding: 0 0 0 1em;
        margin: 0 0 1em 0;

        &:after {
            display: block;
            width: 0.4em;
            height: 0.4em;
            border-radius: 50%;
            background: #000;
            position: absolute;
            left: 0;
            top: 0.6em;
            content: "";
        }
    }

    input {
        font-family: $font-stack;

        &.error {
            border-color: red;
        }
    }
}

.ppat-form {
    display: block;
    width: 100%;
    position: relative;


    &.submitting {
        pointer-events: none;
        opacity: 0.2 !important;
    }

    &.submitted {
        display: none !important;
    }
}


.ppat-form-row {
    display: flex;
    margin: 0 0 20px 0;
    position: relative;

    .ppat-field-feedback-msg {
        position: absolute;
        left: 0;
        top: -15px;  // above fields
        // bottom: -18px;  // below fields 
        font-size: 12px;
        pointer-events: none;
    }
}

.ppat-form-row-html_1 a {
    font-weight: bold
}

.ppat-text,
.ppat-email,
.select2-selection,
.ppat-textarea {
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    font-size: 14px;
    padding: 10px 20px;
    font-family: $font-stack;
}

.ppat-textarea {
    min-height: 90px;
}

.ppat-select {
    appearance: none;
    background: url('https://fujifilm-x.com/global/special/imaging-solution/assets/images/common/mrk_down.png') no-repeat right 20px top 50% / 10px 7px #fff;
    padding-right: 40px;
    cursor: pointer;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    font-size: 14px;
    padding: 5px 20px;
}

select {
    &::-webkit-input-placeholder { /* Edge */
        color: red;
    }
        
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: red;
    }
        
    &::placeholder {
        color: red;
    }
}

.ppat-dropzone {
    border: 1px solid #bfbfbf !important;
    font-size: 14px !important;
    width: 100%;
    text-align: center;

    h4 {
        display: block !important;
        width: 80% !important;
        text-align: center !important;
        margin: 10px auto 0 auto !important;
        pointer-events: none !important;
        font-size: 14px !important;
        font-weight: bold !important;
    }

    p {
        display: block !important;
        width: 80% !important;
        text-align: center !important;
        margin: 10px auto 0 auto !important;
        pointer-events: none !important;
        font-size: 14px !important;
    }
}

.ppat_el_p {
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    margin: 0 auto 10px auto !important;
    pointer-events: all !important;
    font-size: 14px !important;

    a {
        cursor: pointer !important;
        font-weight: bold !important;
    }
}

.ppat_el_p.ppat_el_footer_p {
    text-align: center !important
}

.ppat_el_h2 {
    display: block !important;
    width: 100% !important;
    text-align: left !important;
    margin: 0 auto 15px auto !important;
    pointer-events: all !important;
    font-size: 32px !important;
    font-weight: normal;
    text-align: center !important;
    font-family: $font-stack;

    a {
        cursor: pointer !important;
        font-weight: bold;
    }
}

.ppat-checkbox {
    display: block;
    width: 20px;
    height: 20px;
    appearance: auto;
    margin: 0 10px 0 0;
    border-radius: 0 !important;
    outline-color: none;
    position: relative;
    cursor: pointer;

    &:after {
        content: " ";
        display: block;
        width: 100%;
        height: 100%;
        background: none;
        position: absolute;
        z-index: 10;
        background: #fff;
        color: #000;
        background-repeat: no-repeat;
        background-size: auto 60%;
        background-position: 50% 50%;        
        font-family: $font-stack;
        font-weight: bold;
        top: 0;
        left: 0;
        border: 1px solid #bfbfbf;
    }

    &:checked {
        &:after {
            display: block;
            width: 100%;
            height: 100%;
            content: " ";
            background: none;
            position: absolute;
            z-index: 10;
            background: #fff;
            color: #000;
            background-image: url("../../../assets/img/icon-check.svg");
            background-repeat: no-repeat;
            background-size: auto 60%;
            background-position: 50% 50%;
            content: " ";
            font-family: $font-stack;
            font-weight: bold;
            top: 0;
            left: 0;
            border: 1px solid #bfbfbf;
        }
    }
}

.ppat-submit {
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    width: 100%;
    height: 50px;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    background-color: #000;
    background-image: none;
    margin: 20px auto 0 auto;
    text-align: center;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.ppat-field-feedback-msg {
    display: block;
    width: 100%;
    position: relative;
    font-size: 12px;
    text-align: left;
    color: red;
}

[class*='ppat-field-feedback-msg-main'] {
    display: none;
}




.ppat-form-label {
    display: block;
    width: 40%;
    padding-right: 5px;

    &[for='lenses'],
    &[for='country'], 
    &[for='state_can'],
    &[for='state_mex'],
    &[for='state_usa'] {               /* hack for select2s */
        width: calc(40% - 7px);
    }
}

.ppat-form-label a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.ppat-form-row-checkbox {
    .ppat-form-label {
        width: 100%;
    }

    .ppat-field-feedback-msg {
        top: calc(100%);
        left: 30px;
    }
}

.ppat-field-feedback-msg-complete {
    display: none;
    font-size: 18px;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
    width: 100%;

    &.complete {
        display: block;
    }
}

.ppat-field-feedback-msg-cf-upload {
    text-align: left;
    font-size: 12px;
    transform: translateY(-1em);
}




/* styles added for select2 multiselects */
$background-colour: #fff;
$background-alt-colour: #F2F4F7;
$grey-border-colour: #b2b2b2;
$dark-font-colour: #000;
$mid-font-colour: #777777;
$light-font-colour: #fff;
$dropdown-highlight-colour: #E4E8ED;
$green: #9EB79D;
$dark-green: #849683;
$yellow: #EBCB7F;
$peach: #F2C59E;
$turquoise: #72B5B0;

/* Fonts */
$ghp-font: ff-good-headline-web-pro-con, sans-serif;
$ghp-bold-weight: 700;
$ghp-reg-weight: 500;
$noto-font: noto-sans, sans-serif;
$noto-bold-weight: 700;
$noto-reg-weight: 400;
.light_font_colour { color: $light-font-colour; }
.dark_font_colour { color: $dark-font-colour; }
.bold_body_copy {
    font-family: $noto-font;
    font-weight: $noto-bold-weight;
}

$input-padding: 10px 20px;





.select2-container {
    padding: 0;
    width: 101% !important;  
    height: fit-content;  

    .select2-selection {
        height: auto;
        border-radius: 0;
        border: 1px solid #bababa;

        .select2-selection__rendered {
            padding: 5px 20px 5px 10px;
            color: $dark-font-colour;
        }

        .select2-search {
            margin-left: -15px;

            .select2-search__field {
                cursor: pointer;
                position: absolute;                
                margin: 0;
                padding-top: 5px;
                height: auto;
                font-family: $font-stack;                

                &:focus {
                    outline-color: transparent;
                    outline-style: none;
                }
            }
        }
        li.select2-search {
            margin: 0;
        }

        .select2-selection__clear {
            margin-right: 30px;
        }

        .select2-selection__placeholder {
            color: $mid-font-colour;
        }

        &.select2-selection--multiple {
            padding: 5px 20px;
            cursor: pointer;
            min-height: 39px;

            .select2-selection__rendered {
                padding-left: 0;

                .select2-selection__choice {
                    display: inline-block;
                    width: auto;
                    margin: 5px 10px 5px 0;
                    border-radius: 0;
                    background-color: $dropdown-highlight-colour;
                    border: none;

                    .select2-selection__choice__remove {
                        border: none;
                    }
                }
            }

            &::after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-image: url('https://fujifilm-x.com/global/special/imaging-solution/assets/images/common/mrk_down.png');
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                position: absolute;
                right: 15px;
                top: 8px;
            }

            .select2-selection__choice__remove {
                font-weight: normal;
            }
        }

        &.select2-selection--single {
            padding: $input-padding;

            .select2-selection__rendered {
                padding: 0;
                line-height: normal;

                &[title='Select'],          /* hack for placeholder colour */
                &[title='Province'],
                &[title='State'] {
                    color: $mid-font-colour;
                }
            }

            &::after {
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-image: url('https://fujifilm-x.com/global/special/imaging-solution/assets/images/common/mrk_down.png');
                background-position: center;
                background-size: 50%;
                background-repeat: no-repeat;
                position: absolute;
                right: 15px;
                top: 8px;
            }
        }
    }

    .select2-dropdown {
        color: $dark-font-colour;
        border-radius: 0;
        border: none;
        text-align: left;

        .select2-results__option {
            font-family: $font-stack;
            font-size: 14px;
        }

        .select2-results__option--highlighted,
        .select2-results__option--selected {
            color: $dark-font-colour;
            background-color: $dropdown-highlight-colour;
        }
    }

    .select2-selection__arrow {
        b {
            display: none;
        }
    }

    &.select2-container--open {
        // width: auto !important;


        .select2-selection--multiple::after,
        .select2-selection--single::after {
            transform: rotate(180deg);
        }
    }

    .select2-results {
        .select2-results__options {
            max-height: 216px;
            max-height: 216px;
            border: 1px solid $dropdown-highlight-colour;
            border-width: 0 1px 1px;

            .select2-results__option--disabled {
                display: none;    
            }
        }
    }
    
}
/* /styles added for select2 multiselects */




@media all and (max-width: 700px) {
    #page-wrap {

        .ppat-form-label {
            width: 100%;
            margin-bottom: 3px;
        }
    
        .ppat-field-feedback-msg {
            bottom: -16px;
            text-align: left;
        }
    
        .ppat-form-row {
            display: block;

            &.ppat-form-row-state_can.show,
            &.ppat-form-row-state_mex.show,
            &.ppat-form-row-state_usa.show {
                display: block !important;
            }
            &[class*="_other"].show {
                display: block !important;
            }

            .ppat-field-feedback-msg {
                bottom: -16px;
                text-align: left;
            }
        }
    
        .ppat-field-feedback-msg-cf-upload {
            bottom: 6px;
            text-align: left;
        }
    
        .ppat_sp {
            margin: 0 0 3px 0 !important;
        }
    }
}